<head>
  <title>Schedule a Session with Jason</title>
</head>
<body>
  <div class="row even">
    <div class="col-md-3 left-side"></div>
    <div class="col-md-6">
      <h1>Schedule a Weekday Session</h1>
      <div class="schedule-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7:00pm</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                </tr>
                <tr>
                    <td>8:00pm</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                </tr>
                <tr>
                    <td>9:00pm</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                </tr>
                <tr>
                    <td>10:00pm</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                </tr>
                <tr>
                    <td>11:00pm</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                    <td>Book Button</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 right-side"></div>
  </div>
</body>